[submodule "Research/umfeld-with-klangwellen/klangwellen"]
	path = Research/umfeld-with-klangwellen/klangwellen
	url = https://github.com/dennisppaul/klangwellen.git
[submodule "Research/umfeld-with-paulstretch/klangwellen"]
	path = Research/umfeld-with-paulstretch/klangwellen
	url = https://github.com/dennisppaul/klangwellen.git
[submodule "Research/umfeld-with-paulstretch/paulstretch"]
	path = Research/umfeld-with-paulstretch/paulstretch
	url = https://github.com/dennisppaul/paulstretch.git
